/* RESET */

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 995px;
    margin:0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    height: calc(100vh /18);
}

.col-1{
    flex-basis: calc((100% / 18) * 1);
    max-width: calc((100% / 18) * 1);
    height: calc(100vh /18);
}

.col-2{
    flex-basis: calc((100% / 18) * 2);
    max-width: calc((100% / 18) * 2);
    height: calc(100vh /18);
}

.col-3{
    flex-basis: calc((100% / 18) * 3);
    max-width: calc((100% / 18) * 3);
    height: calc(100vh /18);
}

.col-4{
    flex-basis: calc((100% / 18) * 4);
    max-width: calc((100% / 18) * 4);
    height: calc(100vh /18);
}

.col-5{
    flex-basis: calc((100% / 18) * 5);
    max-width: calc((100% / 18) * 5);
    height: calc(100vh /18);
}

.col-6{
    flex-basis: calc((100% / 18) * 6);
    max-width: calc((100% / 18) * 6);
    height: calc(100vh /18);
}

.col-7{
    flex-basis: calc((100% / 18) * 7);
    max-width: calc((100% / 18) * 7);
    height: calc(100vh /18);
}

.col-8{
    flex-basis: calc((100% / 18) * 8);
    max-width: calc((100% / 18) * 8);
    height: calc(100vh /18);
}

.col-9{
    flex-basis: calc((100% / 18) * 9);
    max-width: calc((100% / 18) * 9);
    height: calc(100vh /18);
}

.col-10{
    flex-basis: calc((100% / 18) * 10);
    max-width: calc((100% / 18) * 10);
    height: calc(100vh /18);
}

.col-11{
    flex-basis: calc((100% / 18) * 11);
    max-width: calc((100% / 18) * 11);
    height: calc(100vh /18);
}

.col-12{
    flex-basis: calc((100% / 18) * 12);
    max-width: calc((100% / 18) * 12);
    height: calc(100vh /18);
}

.col-13{
    flex-basis: calc((100% / 18) * 13);
    max-width: calc((100% / 18) * 13);
    height: calc(100vh /18);
}

.col-14{
    flex-basis: calc((100% / 18) * 14);
    max-width: calc((100% / 18) * 14);
    height: calc(100vh /18);
}

.col-15{
    flex-basis: calc((100% / 18) * 15);
    max-width: calc((100% / 18) * 15);
    height: calc(100vh /18);
}

.col-16{
    flex-basis: calc((100% / 18) * 16);
    max-width: calc((100% / 18) * 16);
    height: calc(100vh /18);
}

.col-17{
    flex-basis: calc((100% / 18) * 17);
    max-width: calc((100% / 18) * 17);
    height: calc(100vh /18);
}

.col-18{
    flex-basis: calc((100% / 18) * 18);
    max-width: calc((100% / 18) * 18);
    height: calc(100vh /18);
}

.offset-0{
    margin-left: 0;
}

.offset-1{
    margin-left: calc((100% / 18) * 1);
}

.offset-2{
    margin-left: calc((100% / 18) * 2);
}

.offset-3{
    margin-left: calc((100% / 18) * 3);
}

.offset-4{
    margin-left: calc((100% / 18) * 4);
}

.offset-5{
    margin-left: calc((100% / 18) * 5);
}

.offset-6{
    margin-left: calc((100% / 18) * 6);
}

.offset-7{
    margin-left: calc((100% / 18) * 7);
}

.offset-8{
    margin-left: calc((100% / 18) * 8);
}

.offset-9{
    margin-left: calc((100% / 18) * 9);
}

.offset-10{
    margin-left: calc((100% / 18) * 10);
}

.offset-11{
    margin-left: calc((100% / 18) * 11);
}

.offset-12{
    margin-left: calc((100% / 18) * 12);
}

.offset-13{
    margin-left: calc((100% / 18) * 13);
}

.offset-14{
    margin-left: calc((100% / 18) * 14);
}

.offset-15{
    margin-left: calc((100% / 18) * 15);
}

.offset-16{
    margin-left: calc((100% / 18) * 16);
}

.offset-17{
    margin-left: calc((100% / 18) * 17);
}